<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.home">
                <i class="glyphicon glyphicon-home"></i>
                MyApp
            </a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="app.client">Clientes</a></li>
                <li ui-sref-active="active"><a ui-sref="app.user">Usuários</a></li>
                <li ui-sref-active="active"><a ui-sref="outside.login">Login page</a></li>
                <li ui-sref-active="active"><a ui-sref="outside.404">404 page</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Configurações</a></li>

                <li uib-dropdown class="dropdown">
                    <a uib-dropdown-toggle class="uib-dropdown-toggle" role="button">
                        <i class="glyphicon glyphicon-user"></i>
                        Usuário <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">
                            Configuraçoes de conta
                        </a></li>
                        <li><a href="#"
                            <i class="glyphicon glyphicon-log-out"></i>
                            Sair
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>